

<ion-content padding>

  
    
  <div style="margin:auto;max-height: 500px;max-width: 500px;margin-top:55px;">

              <ion-card >

                  <ion-img src="https://firebasestorage.googleapis.com/v0/b/binarya-services.appspot.com/o/binarya%2Flogo_trasparente.png?alt=media&token=be2c18bc-b501-4e3d-b3b9-73943340e648" style="max-height: 350px;"></ion-img>
                  <ion-card-header>
                    <ion-card-subtitle>Social</ion-card-subtitle>
                    <ion-card-title>LOG IN</ion-card-title>
                  </ion-card-header>
                
                  <ion-card-content>
                      <ion-button   color="primary" fill="outline" expand="block" (click)="loginLogic()" >Google       <ion-icon slot="icon-only" name="logo-google"></ion-icon>
                      </ion-button>

                      <br>
                  
                      <!--
                      <ion-button  color="primary" fill="outline" expand="block"  (click)="fireService.login('facebookWeb')" >Facebook       <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
                      </ion-button>
                    
                      <br>
-->
                  </ion-card-content>
                </ion-card>
  </div>



</ion-content>
